{%  extends "layout.html" %}

{%  block title %}Create Event{%  endblock %}

{%  block content %}
<style>
h1 {
    font-family: "Lucida Console", serif;
	font-size: 40px;
	font-weight: bold;
}

b {
	font-family: "Lucida Console", serif;
    font-size: 20px;
}
x {
    font-family: "Lucida Console", serif;
    font-size: 17px;
}
m {
    font-family: "Lucida Console", serif;
    font-size: 22px;
}
</style>
<h1><center><u>Create Event</u></center></h1><br><br>
<form action="/pin_result" name="pin">
<x>	<b> Event Title: </b>
	<input type="text" name="title" value="Name of Event"  onblur="if (this.value == '') {this.value = 'Name of Event';}" onfocus="if (this.value == 'Name of Event') {this.value = '';}" ><br><br>
	<b> Date: </b>
	<select name="month">
		<option value="January">January</option>
   		<option value="February">February</option>
   		<option value="March">March</option>
    	<option value="April">April</option>
   	 	<option value="May">May</option>
    	<option value="June">June</option>
    	<option value="July">July</option>
    	<option value="August">August</option>
    	<option value="September">September</option>
    	<option value="October">October</option>
    	<option value="November">November</option>
    	<option value="December">December</option>
	</select>
	<input type="text" name="day" value="1" onblur="if (this.value == '') {this.value = '1';}" onfocus="if (this.value == '1') {this.value = '';}">
	<input type="text" name="year" value="2017" onblur="if (this.value == '') {this.value = '2017';}" onfocus="if (this.value == '2017') {this.value = '';}"><br><br>
	<b> Start Time: </b>
	<select name="stime">
		<option value="12:00">12:00</option>
   		<option value="1:00">1:00</option>
   		<option value="2:00">2:00</option>
    	<option value="3:00">3:00</option>
   	 	<option value="4:00">4:00</option>
    	<option value="5:00">5:00</option>
    	<option value="6:00">6:00</option>
    	<option value="7:00">7:00</option>
    	<option value="8:00">8:00</option>
    	<option value="9:00">9:00</option>
    	<option value="10:00">10:00</option>
    	<option value="11:00">11:00</option>
	</select>
	<select name="sampm">
		<option value="AM">AM</option>
		<option value="PM">PM</option>
	</select><br><br>
	<b> End Time: </b>
	<select name="etime">
		<option value="12:00">12:00</option>
   		<option value="1:00">1:00</option>
   		<option value="2:00">2:00</option>
    	<option value="3:00">3:00</option>
   	 	<option value="4:00">4:00</option>
    	<option value="5:00">5:00</option>
    	<option value="6:00">6:00</option>
    	<option value="7:00">7:00</option>
    	<option value="8:00">8:00</option>
    	<option value="9:00">9:00</option>
    	<option value="10:00">10:00</option>
    	<option value="11:00">11:00</option>
	</select>
	<select name="eampm">
		<option value="AM">AM</option>
		<option value="PM">PM</option>
	</select><br><br>
	<b> Event Type: </b>
	<select name="etype">
		<option value="Study Group">Study Group</option>
		<option value="Sports">Sports</option>
		<option value="Casual">Casual</option>
		<option value="21+">21+</option>
	</select><br><br>
	<x>	<b> Event Capacity: </b>
	<input type="text" name="capacity" value="20"  onblur="if (this.value == '') {this.value = '20';}" onfocus="if (this.value == '20') {this.value = '';}" ><br><br>
	<b> Building/Location Name: </b>
	<input type="text" name="location" value="Asante House" onblur="if (this.value == '') {this.value = 'Asante House';}" onfocus="if (this.value == 'Asante House') {this.value = '';}"><br><br>
	<b> Location Coordinates (N/S, W/E): </b>
	<input type="text" name="location1" value="32.8801" onblur="if (this.value == '') {this.value = '32.8801';}" onfocus="if (this.value == '32.8801') {this.value = '';}">
	<input type="text" name="location2" value="-117.2340" onblur="if (this.value == '') {this.value = '-117.2340';}" onfocus="if (this.value == '-117.2340') {this.value = '';}"><br><br></x><br><br>
	<center><m><input type="submit" value="List My Event!"></m></center>
</form>


{%  endblock %}
